/* Basic font and spacing */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #333446;
}

/* Header styling */
h2 {
  background: #1C1C2E;
  color: white;
  padding: 10px;
  text-align: center;
  margin: 0px;
}

/* Simple nav styling */
nav {
  background: #B8CFCE;
  padding: 10px;
  text-align: center;
}
nav a {
  margin: 0 10px;
  text-decoration: none;
}

/* Section padding */
section {
  padding: 20px;
}

/* Center‑column container */
.center-text {
  max-width: 60%;
  min-height: 100vh;
  margin: 0 auto;
  background: #7F8CAA;
  padding: 20px;
}
